.header {
    text-decoration: none;
    color: purple
}

.header:hover {
    text-decoration: none;
    color: purple
}

.navbar {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5) !important;
    justify-content: center;
    align-items: center;
}

.navbar-nav .nav-link {
    color: white;
    background-color: #474E68;
    border-radius: 10px;
    text-align: center;
    font-family: 'Helvetica', cursive;
}

.dropdown-item {
    text-align: center !important;
}
  
.navbar-nav a:hover {
    color: white;
    background-color: navy;
    border-radius: 10px;
    text-align: center;
    font-family: 'Helvetica', cursive;
}

.nav-link {
    margin: 0 10px;
    margin-bottom:3px;
}

.banner {
    background-color: #333;
    text-align: center;
  }
  
  .banner img {
    width: 100%; /* Adjust this value to resize the image */
    max-width: 100%; /* Make sure the image doesn't overflow */
    height: auto; /* Maintain the aspect ratio */
  }
  

body {
    margin: 0 auto !important;
    background: #1e2e57 !important;
}

.bg-primary {
    background-color: #16213E !important;
}

.form-group {
    margin-top: 15px !important;
}

label, h1, h2{
    color: white !important;
}

dark-label {
    color:black !important;
}

textarea{
    height: 200px
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    font-family: 'Helvetica', cursive;
}