.header {
    text-decoration: none;
    color: purple
}

.header:hover {
    text-decoration: none;
    color: purple
}

body {
    margin: 0 auto !important;
}

#top {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/tow-truck2.jpg') !important;
    background-size: cover !important;                      /* <------ */
    background-repeat: no-repeat !important;
    background-position: center center !important;
    height: 780px !important;
    color: aliceblue;
}

.schedule-button {
    padding-top: 75px !important;
}

ul li{
	list-style-position: inside !important;
}

.list-main {
    font-family: 'Urbanist' !important;
    font-size: 40px !important;
}

#about-us {
    background-color: #474E68 !important;
    color: aliceblue;
}

#services {
    background-color: #282A3A !important;
    color: aliceblue;
}

#service-areas {
    background-color: purple !important;
    color: aliceblue;
}

.bg-primary {
    background-color: #16213E !important;
}

.footer {
    background-color: #16213E !important;
    color: aliceblue !important;
    height: 400px !important;
}

#schedule{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/tow-truck.jpg') !important;
    background-size: cover !important;                      /* <------ */
    background-repeat: no-repeat !important;
    background-position: center center !important;
    height: 1200px !important;
    color: aliceblue !important;
}

.form-group {
    max-width: 75% !important;
    min-width: 75% !important;
    margin: 0 auto !important;
}

