.header {
    text-decoration: none;
    color: purple
}

.header:hover {
    text-decoration: none;
    color: purple
}

body {
    margin: 0 auto !important;
}

#top {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/azzi-towing-truck.jpg') !important;
    background-size: cover !important;                      /* <------ */
    background-repeat: no-repeat !important;
    background-position: center center !important;
    height: 780px !important;
    color: aliceblue;
}

.schedule-button {
    padding-top: 75px !important;
}

ul li{
	list-style-position: inside !important;
}

.testing-ul{

}

.list-main {
    font-family: 'Urbanist' !important;
    font-size: 25px !important;
    list-style-position: outside !important;
}

.service-list {
    margin: 0 auto !important;
}

#about-us {
    background-color: #474E68 !important;
    color: aliceblue;
}

#services {
    background-color: #282A3A !important;
    color: aliceblue;
}

.list-row{
    margin: 0 auto !important;
    max-width: 1000px !important;
}

#service-areas {
    background-color: #16213E !important;
    color: aliceblue;
}

.bg-primary {
    background-color: #16213E !important;
}

.footer {
    background-color: #16213E !important;
    color: aliceblue !important;
    height: 180px !important;
    clear: both !important;
}

#schedule{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/tow-truck.jpg') !important;
    background-size: cover !important;                      /* <------ */
    background-repeat: no-repeat !important;
    background-position: center center !important;
    height: 1200px !important;
    color: aliceblue !important;
}

.form-group {
    max-width: 400px !important;
    margin: 0 auto !important;
}

.schedule-form-button {
    max-width: 400px !important;
}

.nav-footer {
    display: flex;
    justify-content: center;
  }
  
  .nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-link {
    margin: 0 10px;
  }

  .nav-link:hover{
    color:purple;
  }

  .footer-contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .footer-contact-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-contact-list li {
    margin: 0 10px;
  }
  
  .footer-link {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-link:hover {
    color:purple;
    text-decoration: underline;
  }
  
