{% extends 'base-admin.html' %}
{% block stylesheet %}
<link href="css/datatables.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="css/admin-styles.css">
{% endblock %}
{% block content %}
    <div class="container" id="admin">
        {% if request.args.get('request-approved') %}
            <div class="alert alert-success mt-3" role="alert">
            Service added to schedule
            </div>
        {% endif %}
        <hr style="margin-top:20px;">
        <h1 class="text-center mt-3 mb-5">Overdue</h1>  
        <div class="table-responsive">
            <table id="overdue" class="table table-danger table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                {% for service in services %}
                    {% if service[6] == 0 and service[2].strftime('%m-%d-%Y') < today %}
                    <tr>
                        <td><a class="btn btn-block btn-success mb-2" href="/joeazzi/service?ticket={{ service[0] }}">View Ticket</a>
                        <td>{{ service[4] }} {{ service[5] }}</td>
                        <td>{{ service[1] }}</td>
                        <td>{{ service[2].strftime('%m-%d-%Y') }}</td>
                        <td>{{ service[3] }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <hr>
        <h1 class="text-center mt-5 mb-5">Today {{ today }}</h1>  
        <div class="table-responsive">
            <table id="today" class="table table-warning table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                {% for service in services %}
                    {% if service[6] == 0 and service[2].strftime('%m-%d-%Y') == today %}
                    <tr>
                        <td><a class="btn btn-block btn-success mb-2" href="/joeazzi/service?ticket={{ service[0] }}">View Ticket</a>
                        <td>{{ service[4] }} {{ service[5] }}</td>
                        <td>{{ service[1] }}</td>
                        <td>{{ service[2].strftime('%m-%d-%Y') }}</td>
                        <td>{{ service[3] }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <hr>
        <h1 class="text-center mt-5 mb-5">Upcoming</h1>
        <div class="table-responsive">
            <table id="upcoming" class="table table-primary table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                {% for service in services %}
                    {% if service[6] == 0 and service[2].strftime('%m-%d-%Y') > today %}
                    <tr>
                        <td><a class="btn btn-block btn-success mb-2" href="/joeazzi/service?ticket={{ service[0] }}">View Ticket</a>
                        <td>{{ service[4] }} {{ service[5] }}</td>
                        <td>{{ service[1] }}</td>
                        <td>{{ service[2].strftime('%m-%d-%Y') }}</td>
                        <td>{{ service[3] }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <hr>
        <h1 class="text-center mt-5 mb-5">Completed</h1>
        <div class="table-responsive mb-5">
            <table id="completed" class="table table-success table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Paid</th>
                    </tr>
                </thead>
                <tbody>
                {% for service in services %}
                    {% if service[6] == 1 %}
                    <tr>
                        <td><a class="btn btn-block btn-success mb-2" href="/joeazzi/service?ticket={{ service[0] }}">View Ticket</a>
                        <td>{{ service[4] }} {{ service[5] }}</td>
                        <td>{{ service[1] }}</td>
                        <td>{{ service[2].strftime('%m-%d-%Y') }}</td>
                        <td>{{ service[3] }}</td>
                        {% if services[7] == 1 %}
                            <td>Yes</td>
                        {% else %}
                            <td>No</td>
                        {% endif %}
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <hr>
        <a href="/joeazzi/export" style="text-decoration:none;"><span><h3 class="mt-5 mb-5" style="color:aliceblue;">Export to Excel<span style="margin-left:20px;"><img style="height:80px;width:80px;"src="../images/excel.png"></span></h3></span></a>
    </div>
    
    
    
{% endblock %}