{% extends 'base-admin.html' %}
{% block stylesheet %}
<link rel="stylesheet" href="css/styles.css">
{% endblock %}
{% block content %}
    <div class="container" id="admin">
        <div class="row justify-content-center">
            <h1 class="text-center">Overdue</h1>  
            <div class="table-responsive">
                <table class="table table-danger table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for service in services %}
                        {% if service[6] == 0 and service[2].strftime('%m-%d-%Y') < today %}
                        <tr>
                            <td><a class="btn btn-block btn-success mb-2" href="/joeazzi/service?ticket={{ service[0] }}">View Ticket</a>
                            <td>{{ service[4] }} {{ service[5] }}</td>
                            <td>{{ service[1] }}</td>
                            <td>{{ service[2].strftime('%m-%d-%Y') }}</td>
                            <td>{{ service[3] }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <h1 class="text-center">Today {{ today }}</h1>  
            <div class="table-responsive">
                <table class="table table-warning table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for service in services %}
                        {% if service[6] == 0 and service[2].strftime('%m-%d-%Y') == today %}
                        <tr>
                            <td><a class="btn btn-block btn-success mb-2" href="/joeazzi/service?ticket={{ service[0] }}">View Ticket</a>
                            <td>{{ service[4] }} {{ service[5] }}</td>
                            <td>{{ service[1] }}</td>
                            <td>{{ service[2].strftime('%m-%d-%Y') }}</td>
                            <td>{{ service[3] }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <h1 class="text-center">Upcoming</h1>
            <div class="table-responsive">
                <table class="table table-primary table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for service in services %}
                        {% if service[6] == 0 and service[2].strftime('%m-%d-%Y') > today %}
                        <tr>
                            <td><a class="btn btn-block btn-success mb-2" href="/joeazzi/service?ticket={{ service[0] }}">View Ticket</a>
                            <td>{{ service[4] }} {{ service[5] }}</td>
                            <td>{{ service[1] }}</td>
                            <td>{{ service[2].strftime('%m-%d-%Y') }}</td>
                            <td>{{ service[3] }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>   
            <h1 class="text-center">Completed</h1>
            <div class="table-responsive">
                <table class="table table-success table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for service in services %}
                        {% if service[6] == 1 %}
                        <tr>
                            <td><a class="btn btn-block btn-success mb-2" href="/joeazzi/service?ticket={{ service[0] }}">View Ticket</a>
                            <td>{{ service[4] }} {{ service[5] }}</td>
                            <td>{{ service[1] }}</td>
                            <td>{{ service[2].strftime('%m-%d-%Y') }}</td>
                            <td>{{ service[3] }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>    
        </div>
    </div>
{% endblock %}