<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Azzi Towing LLC</title>

    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!-- Custom CSS-->
    <link rel="stylesheet" href="css/styles.css">

    <!-- Preconnect for Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Google Fonts below here-->
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&family=Urbanist:wght@300&display=swap" rel="stylesheet"> 
    <!-- End of Google Fonts-->

    <!--Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/#top"> <img src="azzi-towing-logo.jpg"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/#services">Services</a>
                    <a class="nav-link" href="/#service-areas">Service Areas</a>
                    <a class="nav-link" href="/#about">About us</a>
                    <a class="nav-link" href="/#contact">Contact</a>
                    <a class="nav-link" href="/schedule">Schedule Service</a>
                    <a class="nav-link" href="/joeazzi">Temp Admin Link</a>
                </div>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <div class="container-fluid text-center footer">
        <p>Copyright © 2023 Azzi Towing LLC. All rights reserved. | Designed and developed by Azzi Towing LLC.</p>
            <nav class="footer-contact-links">

            <ul class="footer-contact-list">

            <li><a class="footer-link" href="mailto:azzitowing@gmail.com">
                <p class="text-center"> <i style="font-size:20px" class="fa">&#xf0e0;</i> </p>
            </a></li>

            <li><a class="footer-link" href="tel:+05719926032">
                <p class="text-center"> <i style="font-size:20px" class="fa">&#xf095;</i> 571-992-6032 </p>
            </a></li>

            <li><a class="footer-link" href="">
                <p class="text-center"> <i style="font-size:20px" class="fa">&#xf015;</i> (ADD LOCATION)</p>
            </a></li>

            <li><a class="footer-link" href="https://www.facebook.com/profile.php?id=100087916009786">
                <p class="text-center"> <i style="font-size:20px" class="fa">&#xf09a;</i> </p>
            </a></li>

            </ul></nav>
            <nav class="nav-footer">
                <ul class="nav-list">
                    <li><a class="nav-link" href="/#services">Services</a></li>
                    <li><a class="nav-link" href="/#service-areas">Service Areas</a></li>
                    <li><a class="nav-link" href="/#about">About us</a></li>
                    <li><a class="nav-link" href="/#contact">Contact</a></li>
                    <li><a class="nav-link" href="/schedule">Schedule Service</a></li>
                    <li><a class="nav-link" href="/joeazzi">Temp Admin Link</a></li>
                </ul>
            </nav>
                
                
    </div>


    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <!-- Custom JS import-->
    <script src="js/js.js"></script>

</body>
</html>