{% extends 'base-admin.html' %}
{% block stylesheet %}
    <link rel="stylesheet" href="../css/admin-styles.css">
{% endblock %}
{% block content %}
    <div class="container">
        <h1 style="color: #dbe7ff;" class="text-center mt-4 mb-5" id="login-title">Change Password</h1>
        <div class="row mt-4">
            <div class="col-lg-5 col-md-6 m-auto card p-4 mt-3">
                <form action="{{ request.path }}" method="POST" class="card-body">
                    {{ form.csrf_token }}
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    
                    <div class="form-group mb-3">
                        <label style="color:black !important;" class="form-label" for="firstName">New password</label>
                        {{ form.pwd(class_="form-control")}}
                    </div>
                    {% for error in form.pwd.errors %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    <div class="form-group mb-3">
                        <label style="color:black !important;" class="form-label" for="firstName">Confirm password</label>
                        {{ form.confirm_pwd(class_="form-control")}}
                    </div>
                    {% for error in form.confirm_pwd.errors %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    <div class="text-center">
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-block btn-primary mb-3"> {{ btn_action }} </button>
                        </div>                        
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}