{% extends 'base.html' %}
{% block content %}
    <!-- First divider/area-->
    <div class="container-fluid" id="top">
        <div class="row align-items-center" style="min-height: 700px">
            <div class="col">
                <h1 class="text-center" style="font-family: 'Staatliches'; font-size: 90px">Azzi Towing LLC</h1>
                <p class="text-center schedule-button"><a href="/schedule"><input class="btn btn-primary btn-lg" type="submit" value="Schedule a service today!"></a></p>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="services">
        <div class="row list-row">
            <h1 class="text-center" style="font-family: 'Staatliches'; font-size: 60px">Services</h1>
        </div>
        <div class="container justify-content-center service-list">
            <div class="row">
                <div class="col-sm-6">
                    <ul>
                        <li class="list-main">Emergency Roadside Assistance</li>
                        <li class="list-main">Vehicle Delivery</li>
                        <li class="list-main">Battery Jumps</li>
                        <li class="list-main">Car Lockout Services</li>
                        <li class="list-main">Winching</li>
                    </ul>
                </div>
                <div class="col-lg">
                    <p class="list-main mt-2">We are SO much more than a towing company. We offer a variety of services.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid text-center" id="service-areas">
        <div class="row justify-content-center list-row">
            <h1 class="text-center" style="font-family: 'Staatliches'; font-size: 60px">Service Areas</h1>
        </div>
        <div class="row justify-content-center list-row">
            <div class="col"><p class="list-main">Sterling</p></div>
            <div class="col"><p class="list-main">Herndon</p></div>
        </div>
        <div class="row justify-content-center list-row">
            <div class="col"><p class="list-main">Ashburn</p></div>
            <div class="col"><p class="list-main">Dulles</p></div>
        </div> 
        <div class="row justify-content-center list-row"> 
            <div class="col"><p class="list-main">Leesburg</p></div>
            <div class="col"><p class="list-main">Chantilly</p></div>     
        </div>
        <div class="row justify-content-center list-row"> 
            <div class="col"><p class="list-main">Vienna</p></div>
            <div class="col"><p class="list-main">Tysons</p></div>     
        </div>
        <div class="row justify-content-center list-row"> 
            <div class="col"><p class="list-main">Reston</p></div>
            <div class="col"><p class="list-main">More!</p></div>     
        </div>
        <div class="row justify-content-center list-row">
            <p style="font-family: 'Urbanist'; font-size: 25px" class="mt-2">All of our services are available in the Northern Virginia. This list is not "all-inclusive". When in doubt, put in a service request with the link above!</p>
        </div>
        <br>
    </div>             
    <div class="container-fluid " id="about-us">
        <div class="row justify-content-center">
            <div class="col">
                <h1 class="text-center" style="font-family: 'Staatliches'; font-size: 60px">About Us</h1>
                <p class="text-center" style="font-family: 'Urbanist'; font-size: 20px">At Azzi Towing LLC, we are a locally owned and operated tow truck company dedicated to providing reliable and professional towing services to our community. Our founder and owner, Joe Azzi, has been in the towing industry for (X) years and established Azzi Towing LLC in the Summer of 2022.</p>
                <p class="text-center" style="font-family: 'Urbanist'; font-size: 20px">We understand that being stranded on the side of the road can be a stressful experience, which is why we make it our priority to arrive promptly and provide efficient and friendly service. We offer a wide range of towing services, including emergency roadside assistance, long-distance towing, heavy-duty towing, and more. Our goal is to make sure that you and your vehicle are taken care of, no matter the situation. </p>
                <p class="text-center" style="font-family: 'Urbanist'; font-size: 20px">At Azzi Towing LLC, we pride ourselves on our commitment to customer satisfaction. We believe in building long-term relationships with our clients, and we go above and beyond to ensure that every customer is happy with the service they receive. We are always happy to answer any questions you may have and to provide you with the information you need to make informed decisions about your towing and roadside assistance needs. We look forward to serving you soon!</p>
                <br>
            </div>
        </div>
    </div>

    <div class="container-fluid text-center" id="contact">
        <div class="row justify-content-center">
            <h1 class="text-center" style="font-family: 'Staatliches'; font-size: 60px">Contact Us Today</h1>
                <p class="text-center" style="font-family: 'Urbanist'; font-size: 20px"> <i style="font-size:24px" class="fa">&#xf095;</i> Phone: 571-992-6032 </p>
                <p class="text-center" style="font-family: 'Urbanist'; font-size: 20px"> <i style="font-size:24px" class="fa">&#xf0e0;</i> Email: <a href="mailto:azzitowing@gmail.com"> azzitowing@gmail.com </a> </p>
                <p class="text-center" style="font-family: 'Urbanist'; font-size: 20px"> <i style="font-size:24px" class="fa">&#xf09a;</i> Follow us on <a href="https://www.facebook.com/profile.php?id=100087916009786" target="_blank">Facebook!</a> </p>
            </div>
        <br>
    </div>
{% endblock %}