{% extends 'base.html' %}
{% block content %}
    <!-- First divider/area-->
    <div class="container-fluid" id="top">
        <div class="row align-items-center" style="min-height: 700px">
            <div class="col">
                <h1 class="text-center" style="font-family: 'Staatliches'; font-size: 90px">Azzi Towing LLC</h1>
                <p class="text-center schedule-button"><a href="/schedule"><input class="btn btn-primary btn-lg" type="submit" value="Schedule a service today!"></a></p>
            </div>
        </div>
    </div>

    <div class="container-fluid text-center" id="services">
        <div class="row justify-content-center">
            <h1 class="text-center" style="font-family: 'Staatliches'; font-size: 60px">Services</h1>
            <div class="col-sm text-center">
                <ul class="text-left" style="display:inline-block;vertical-align:middle;">
                    <li class="list-main">Emergency Roadside Assistance</li>
                    <li class="list-main">Vehicle Delivery</li>
                    <li class="list-main">Battery Jumps</li>
                </ul>
            </div>
            <div class="col-sm text-center">
                <ul class="text-left" style="display:inline-block;vertical-align:middle;">
                    <li class="list-main">Car Lockout Services</li>
                    <li class="list-main">Winching</li>
                    <li class="list-main">Fuel Delivery</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid text-center" id="service-areas">
        <div class="row justify-content-center">
            <h1 class="text-center">Service Areas</h1>
            <div class="col-sm text-center">
                <ul class="text-left" style="display:inline-block;vertical-align:middle;">
                    <li class="list-main">Sterling</li>
                    <li class="list-main">Herndon</li>
                    <li class="list-main">Ashburn</li>
                    <li class="list-main">Dulles</li>
                </ul>
            </div>
            <div class="col-sm text-center">
                <ul class="text-left" style="display:inline-block;vertical-align:middle;">
                    <li class="list-main">Leesburg</li>
                    <li class="list-main">Chantilly</li>
                    <li class="list-main">Vienna</li>
                    <li class="list-main">Tysons Corner</li>
                    <li class="list-main">Reston</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid " id="about-us">
        <div class="row">
            <div class="col">
                <h1 class="text-center">About Us</h1>
                <p class="text-center">Local owned and operated towing company based out of xxxx, Virginia.</p>
            </div>
            
        </div>
    </div>

    <div class="container-fluid text-center" id="contact">
        <div class="row justify-content-center">
            <h1 class="text-center">Contact us today</h1>
        </div>
    </div>
{% endblock %}