{% extends 'base.html' %}
{% block content %}
    <!-- First divider/area-->
    <div class="container-fluid" id="top">
        <div class="row align-items-center" style="min-height: 700px">
            <div class="col">
                <h1 class="text-center" style="font-family: 'Staatliches'; font-size: 90px">Azzi Towing LLC</h1>
                <p class="text-center schedule-button"><a href="/schedule"><input class="btn btn-primary btn-lg" type="submit" value="Schedule a service today!"></a></p>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="services">
        <div class="row list-row">
            <h1 class="text-center" style="font-family: 'Staatliches'; font-size: 60px">Services</h1>
        </div>
        <div class="container justify-content-center service-list">
            <div class="row">
                <div class="col-sm-6">
                    <ul>
                        <li class="list-main">Emergency Roadside Assistance</li>
                        <li class="list-main">Vehicle Delivery</li>
                        <li class="list-main">Battery Jumps</li>
                        <li class="list-main">Car Lockout Services</li>
                        <li class="list-main">Winching</li>
                    </ul>
                </div>
                <div class="col-lg">
                    <p class="list-main mt-2">We are SO much more than a towing company. We offer a variety of services.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid text-center" id="service-areas">
        <div class="row justify-content-center list-row">
            <h1 class="text-center" style="font-family: 'Staatliches'; font-size: 60px">Service Areas</h1>
        </div>
        <div class="row justify-content-center list-row">
            <div class="col"><p class="list-main">Sterling</p></div>
            <div class="col"><p class="list-main">Herndon</p></div>
        </div>
        <div class="row justify-content-center list-row">
            <div class="col"><p class="list-main">Ashburn</p></div>
            <div class="col"><p class="list-main">Dulles</p></div>
        </div> 
        <div class="row justify-content-center list-row"> 
            <div class="col"><p class="list-main">Leesburg</p></div>
            <div class="col"><p class="list-main">Chantilly</p></div>     
        </div>
        <div class="row justify-content-center list-row"> 
            <div class="col"><p class="list-main">Vienna</p></div>
            <div class="col"><p class="list-main">Tysons</p></div>     
        </div>
        <div class="row justify-content-center list-row"> 
            <div class="col"><p class="list-main">Reston</p></div>
            <div class="col"><p class="list-main">More!</p></div>     
        </div>
        <div class="row justify-content-center list-row">
            <p style="font-family: 'Urbanist'; font-size: 25px" class="mt-2">All of our services are available in the Northern Virginia. This list is not "all-inclusive". When in doubt, put in a service request with the link above!</p>
        </div>
    </div>             
    <div class="container-fluid " id="about-us">
        <div class="row justify-content-center">
            <div class="col">
                <h1 class="text-center" style="font-family: 'Staatliches'; font-size: 60px">About Us</h1>
                <p class="text-center">Local owned and operated towing company based out of xxxx, Virginia.</p>
            </div>
            
        </div>
    </div>

    <div class="container-fluid text-center" id="contact">
        <div class="row justify-content-center">
            <h1 class="text-center" style="font-family: 'Staatliches'; font-size: 60px">Contact us today</h1>
        </div>
    </div>
{% endblock %}