{% extends 'base.html' %}
{% block stylesheet %}
<link rel="stylesheet" href="../css/styles.css">
{% endblock %}
{% block content %}
<div class="container">
    <h2>Information We Collect</h2>
    <p>The only information we collect is that which is entered in the scheduling web form:</p>
    <ul>
        <li>Name</li>
        <li>Phone Number</li>
        <li>Email Address</li>
    </ul>
    <p>This information is used to contact you, and for us to remember who you are, and what you have scheduled!</p>
    <h2>Sharing of Information</h2>
    <p>We do not share any of your personal information.</p>
</div>
{% endblock %}