{% extends 'base.html' %}
{% block content %}
    <!-- First divider/area-->
    <div class="container-fluid" id="schedule">
        <div class="row align-items-center">
            <div class="row justify-content-center">
                <h1 class="text-center" style="font-family: 'Staatliches'; font-size: 90px">Schedule a Service</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-xs-3">
                    <form method="post">
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" name="first_name" value="{{ request.form['first_name'] }}" aria-describedby="emailHelp" placeholder="Enter first name">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" name="last_name" value= "{{ request.form['last_name'] }}" aria-describedby="emailHelp" placeholder="Enter last name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" name="email" value= "{{ request.form['email'] }}"  aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone number</label>
                            <input type="text" class="form-control" name="phone_number" id="phoneNumber" value= "{{ request.form['phone_number'] }}"  placeholder="Phone Number">
                        </div>
                        <div class="form-group">
                            <label for="serviceType">Service Type</label>
                            <select class="form-select" name="service_type" value="{{ request.form['service_type'] }}">
                                <option value="Lockout Recovery">Lockout Recovery</option>
                                <option value="Vehicle Transport/Delivery">Vehicle Transport/Delivery</option>
                                <option value="Fuel Delivery">Fuel Delivery</option>
                                <option value="Battery Jump">Battery Jump</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="date">Date of Service</label>
                            <input class="form-control" type="date" name="date" value="{{ request.form['date'] }}" placeholder="MM/DD/YYYY">
                        </div>
                        <div class="form-group">
                            <label for="time">Requested Time of Service</label>
                            <input class="form-control" type="time" name="time" value="{{ request.form['time'] }}" placeholder="MM/DD/YYYY">
                        </div>
                        <div class="row justify-content-center">
                            <button type="submit" class="btn btn-primary mt-3 schedule-form-button">Submit</button>
                        </div>
                    </form>  
                    <h2>Click on the "Temporary Admin Link" in the navbar to view the schedule</h2>
                </div>  
            </div>                
        </div>
    </div>

    <script src="../static/js/js.js"></script>
{% endblock %}