{% extends 'base.html' %}
{% block content %}
    <!-- First divider/area-->
    <div class="container-fluid" id="schedule">
        <div class="row justify-content-center">
            <h1 class="text-center mt-2" style="font-family: 'Staatliches'; font-size: 90px">Schedule a Service</h1>
            <p class="m-auto mb-4" style="max-width:760px;">Our online scheduling form makes it easy to request the services you need. Simply fill out the form with your information and service request details, and we will quickly get back to you to confirm your appointment. Don't wait, book your appointment today!</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6 m-auto card p-4 mt-3">
                <form action="{{ request.path }}" method="POST" class="card-body">
                    {{ form.csrf_token }}
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    
                    <div class="text-center">
                        <h5 class="text-center mb-3" style="color: black;">{{ text }}</h5>
                    </div>
                    <div class="form-group mb-3">
                        <label for="firstName">First Name</label>
                        {{ form.first_name(class_="form-control",placeholder="First Name")}}
                    </div>
                    {% for error in form.first_name.errors %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor%}

                    <div class="form-group mb-3">
                        <label for="lastName">Last Name</label>
                        {{ form.last_name(class_="form-control",placeholder="Last_name")}}
                    </div>
                    {% for error in form.last_name.errors %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor%}

                    <div class="form-group mb-3">
                        <label for="email">Email Address</label>
                        {{ form.email(class_="form-control",placeholder="john@example.com")}}
                    </div>
                    {% for error in form.email.errors %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor%}

                    <div class="form-group mb-3">
                        <label for="phoneNumber">Phone Number</label>
                        {{ form.phone_number(class_="form-control",placeholder="(xxx)xxx-xxxx") }}
                    </div>
                    {% for error in form.phone_number.errors %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor%}

                    <div class="form-group mb-3">
                        <label for="serviceType">Service Type</label>
                        {{ form.service_type(class_="form-control",placeholder="Touch to Select...") }}
                    </div>
                    {% for error in form.service_type.errors %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor%}

                    <div class="form-group mb-3">
                        <label for="date">Date of Service</label>
                        {{ form.date(class_="form-control",placeholder="05/29/2023") }}
                    </div>
                    {% for error in form.date.errors %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}

                    <div class="form-group mb-3">
                        <label for="date">Time Window</label>
                        {{ form.time(class_="form-control") }}
                    </div>
                    {% for error in form.time.errors %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}


                    <div class="text-center">
    
                        <div class="d-grid gap-2 mt-2">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirm-modal">Submit Request</button>
                        </div>                        
                    </div>
                    <div class="modal" id="confirm-modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title" style="color:black;">Confirm Information</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body" style="color:black;">
                                    <p>Name: </p>
                                    <p>Email: </p>
                                    <p>Phone: </p>
                                    <p>Service Requested:</p>
                                    <p>Date of Service:</p>
                                    <p>Time Window:</p>
                                    <p>Notes/Instruction:</p>
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-block btn-danger" data-bs-dismiss="modal">Go Back</button>
                                    <button type="submit" class="btn btn-block btn-primary" data-bs-dismiss="modal"> {{ btn_action }} </button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </form>
            </div>  
        </div>                
    </div>

    <script src="../static/js/js.js"></script>
    <script>
    </script>
{% endblock %}