{% extends 'base-admin.html' %}
{% block stylesheet %}
    <link rel="stylesheet" href="../css/admin-styles.css">
{% endblock %}
{% block content %}
    <div class="container" id="admin">
        <nav aria-label="breadcrumb" class="mt-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/joeazzi">Services</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ service[0] }}</li>
            </ol>
        </nav>
        <form method="post" id="ticket-form">
            <div class="row justify-content-center">
                {% if request.args.get('error') %}
                    <div class="alert alert-danger" role="alert">
                    Balance must be greater than 0 when generating a payment link
                    </div>
                {% endif %}
                {% if request.args.get('updated') %}
                    <div class="alert alert-success" role="alert">
                    Service succesfully updated
                    </div>
                {% endif %}
                <h2>Ticket Information</h2>
                <div class="col-sm">
                    <label for="ticketId" class="form-label mt-2">Ticket ID</label>
                    <input class="form-control" placeholder="{{ service[0] }}" disabled>
                </div>
                <div class="col-sm">
                    <label for="serviceType" class="form-label mt-2">Service Type</label>
                    <select class="form-select" name="service_type" value="{{ request.form['service_type'] }}">
                        <option value="{{ service[1] }}" selected>{{ service[1] }}</option>
                        <option value="Lockout Recovery">Lockout Recovery</option>
                        <option value="Vehicle Transport/Delivery">Vehicle Transport/Delivery</option>
                        <option value="Fuel Delivery">Fuel Delivery</option>
                        <option value="Battery Jump">Battery Jump</option>
                    </select>
                </div>
                <div class="col-sm">
                    <label for="serviceDate" class="form-label mt-2">Service Date</label>
                    <input type="date" class="form-control" name="date" value="{{ request.form['date'] }}" placeholder="{{ service[2] }}">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm">
                    <label for="serviceTime" class="form-label mt-3">Service Time</label>
                    <input type="time" class="form-control" name="time" value="{{ request.form['time'] }}" placeholder="{{ service[3] }}">
                </div>
                <div class="col-sm">
                    <label for="balance" class="form-label mt-2">Balance</label>
                    <input type="text" class="form-control" id="balance" name="balance" value="{{ request.form['balance'] }}" placeholder="{{ service[5] }}">
                </div>
                <div class="col-sm">
                    <label for="paid" class="form-label mt-2">Paid?</label>
                    {% if service[6] == 0 %}
                        <select class="form-select" name="paid" value="{{ request.form['paid'] }}">
                            <option value="0" selected>No</option>
                            <option value="1">Yes</option>
                        </select>
                    {% else %}
                        <select class="form-select" name="paid" value="{{ request.form['paid'] }}">
                            <option value="1" selected>Yes</option>
                            <option value="0">No</option>
                        </select>
                    {% endif %}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm">
                    <label for="completed" class="form-label mt-2">Service Completed?</label>
                    {% if service[4] == 0 %}
                        <select class="form-select" name="completed" value="{{ request.form['completed'] }}">
                            <option value="0" selected>No</option>
                            <option value="1">Yes</option>
                        </select>
                    {% else %}
                        <select class="form-select" name="completed" value="{{ request.form['completed'] }}">
                            <option value="1" selected>Yes</option>
                            <option value="0">No</option>
                        </select>
                    {% endif %}
                </div>
                <div class="col-sm">
                    <label for="paymentLink" class="form-label mt-2">Payment Link</label>
                    <a href="{{ service[9] }}"><input class="form-control" name="payment_link" value="{{ request.form['payment_link'] }}" placeholder="{{ service[9] }}" disabled>View Payment Link</a>
                </div>
                <div class="col-sm"></div>
            </div> 
            <div class="row justify-content-center">
                <h2 class="mt-4">Customer Information</h2>
                <div class="col-sm">
                    <label for="name" class="form-label mt-2">Customer Name</label>
                    <input class="form-control" placeholder="{{ service[12] }} {{ service[13] }}" disabled>
                </div>
                <div class="col-sm">
                    <label for="email" class="form-label mt-2">Email</label>
                    <input class="form-control" placeholder="{{ service[7] }}" disabled>
                </div>
                <div class="col-sm">
                    <label for="phone" class="form-label mt-2">Phone</label>
                    <input class="form-control" placeholder="{{ service[14] }}" disabled>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm">
                    <label for="notes" class="form-label mt-2">Notes</label>
                    <textarea form="ticket-form" class="form-control" name="notes" value="{{ request.form['notes'] }}">{{ service[8] }}</textarea>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                </div>
            </div> 
            <div class="row justify-content-center">
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success btn-lg mt-5" onclick="return checkFields();">Update Ticket</button>\
                    <a class="btn btn-primary btn-lg mt-3" href="/joeazzi/service/generatePaymentLink?ticket={{ service[0] }}">Generate payment link</a>
                    <a class="btn btn-warning btn-lg mt-3" href="/joeazzi/sendPaymentLink?ticket={{ service[0] }}">Send payment link</a>
                    <a class="btn btn-danger btn-lg mt-5" href="/joeazzi/service/delete?ticket={{ service[0] }}">Delete Ticket</a>
                </div>
            </div>
        </form>
    </div>
    <script>
        function checkFields(){
            // // Format the phone number as the user types it
            // if(document.getElementById('balance').value <= 0 && document.getElementById('balance').getAttribute("placeholder") == 0){
            //     alert("Enter a balance greater than 0");
            //     return false;
            // }
        }
    </script>
{% endblock %}